project "a-service"

// Guess dependencies could be also be a block?
dependencies {
    project "../a-lib"
}

tasks {
    import "bye.nabs"

    task "build" {
        requires "build" in="^self"
        command r#"echo "build-a-service""#
    }
}
